.ForgotPass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px; /* Added padding for better spacing */
}

.ForgotPass-Card {
  margin-bottom: 20px; /* Added margin for spacing */
}

.Box_forgotpass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%; /* Adjusted to take full width */
}

.textinputs {
  border: 1.2px solid black;
  width: 70%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 1.2vw;
  background-color: var(--color-bg);
}

.textinputs::placeholder {
  font-size: 1.2vw;
  color: var(--color-dark-blue);
}

.Box_signin > h1 {
  margin-bottom: 1vw;
  font-size: 30px;
  font-family: var(--font-family);
  color: var(--color-text);
  text-align: center;
}


form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1000px) {
  .textinputs::placeholder {
    font-size: 15px;
  }

  .Box_forgotpass {
    width: 70%;
  }

  .textinputs {
    width: 26rem;
    height: 3rem;
    font-size: 15px;
  }

  .Box_forgotpass > h1 {
    margin-bottom: 1vw;
  }
}

@media screen and (max-width: 768px) {
  .Box_forgotpass {
    width: 90%;
  }

  .textinputs{
    width: 26rem;
  }


}

@media screen and (max-width: 520px) {
  .Box_forgotpass > h1 {
    font-size: 20px;
  }

  .textinputs {
    width: 18rem;
    height: 2rem;
  }
}
