.SignIn_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5vw;
  padding-top: 5vw;
}
.smallScreen_signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 5vw;
}
.card-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: underline;
  color: var(--color-dark-blue);
  font-size: 15px;
}
.welcome_signin {
  width: 50%;
  order: 2;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box_signin {
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.textinputs_signin {
  border: 1.2px solid black;
  width: 70%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 1.2vw;
  background-color: var(--color-bg);
}

.textinputs_signin::placeholder {
  font-size: 1.2vw;
  color: var(--color-dark-blue);
}
.Box_signin > h1 {
  margin-bottom: 1vw;
  font-size: 25px;
  font-family: var(--font-family);
  color: var(--color-text);
}

.checkboxContainer_signin {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkboxContainer_signin > p {
  width: 100%;
  font-size: 15px;
  color: var(--color-text);
}

.checkbox_signin {
  margin-top: 0;
  width: 1rem;
  height: auto;
}

.buttonSignin {
  width: 70%;
  height: 4vw;
  background-color: var(--color-dark-blue);
  outline: none;
  border: none;
  font-family: var(--font-family);
  color: var(--color-bg);
  border-radius: 4px;
  font-size: 20px;
}
.signup {
  margin-top: 1vw;
  width: 70%;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
}
.signup > p {
  color: var(--color-text);
  font-size: 20px;
}
.signup > p > a {
  text-decoration: underline;
  color: var(--color-dark-blue);
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media (max-width: 1000px) {
  .welcome_signin {
    margin-bottom: 2vw;
    order: 1;
  }

  .Box_signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
  }
  .textinputs_signin {
    border: 1.2px solid black;
    width: 60%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }
  .textinputs_signin::placeholder {
    font-size: 15px;
  }
  .Box_signin > h1 {
    margin-bottom: 1vw;
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--color-text);
  }
  .checkboxContainer_signin {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .checkboxContainer_signin > p {
    width: 100%;
    font-size: 15px;
  }
  .checkbox_signin {
    width: 2rem;
    height: auto;
  }
  .buttonSignin {
    width: 60%;
    height: 3rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 20px;
  }
  .link {
    font-size: 15px;
  }
  .signup {
    margin-top: 1vw;
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .signup > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .signup > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}

@media screen and (max-width: 768px) {
  .welcome_signin {
    margin-bottom: 2vw;
    width: 100%;
    order: 1;
  }
  .Box_signin {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .textinputs_signin {
    border: 1.2px solid black;
    width: 26rem;
    height: 3rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }
  .textinputs_signin::placeholder {
    font-size: 15px;
  }
  .Box_signin > h1 {
    margin-bottom: 0.5vw;
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--color-text);
  }
  .checkboxContainer_signin {
    width: 26rem;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    gap: 1rem;
  }
  .checkboxContainer_signin > p {
    width: 100%;
    font-size: 15px;
  }
  .checkbox_signin {
    width: 3vw;
    height: auto;
  }
  .buttonSignin {
    width: 26rem;
    height: 3rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 20px;
  }
  .signup {
    margin-top: 1vw;
    width: 26rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .signup > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .signup > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}

@media screen and (max-width: 520px) {
  .welcome_signin {
    margin-bottom: 2vw;
    width: 100%;
  }
  .Box_signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .textinputs_signin {
    border: 1.2px solid black;
    width: 18rem;
    height: 2rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }
  .textinputs_signin::placeholder {
    font-size: 15px;
  }
  .Box_signin > h1 {
    margin-bottom: 0.5vw;
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--color-text);
  }
  .checkboxContainer_signin {
    width: 18rem;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    gap: 1rem;
  }
  .checkboxContainer_signin > p {
    width: 100%;
    font-size: 15px;
  }
  .checkbox_signin {
    width: 1rem;
    height: auto;
  }
  .buttonSignin {
    width: 18rem;
    height: 2rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 20px;
  }
  .signup {
    margin-top: 1vw;
    width: 18rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .signup > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .signup > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}

@media screen and (max-width: 390px) {
  .welcome_signin {
    margin-bottom: 2vw;
    width: 100%;
  }
  .Box_signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .textinputs_signin {
    border: 1.2px solid black;
    width: 15rem;
    height: 2rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }
  .textinputs_signin::placeholder {
    font-size: 15px;
  }
  .Box_signin > h1 {
    margin-bottom: 0.5vw;
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--color-text);
  }
  .checkboxContainer_signin {
    width: 15rem;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    gap: 1rem;
  }
  .checkboxContainer_signin > p {
    width: 100%;
    font-size: 15px;
  }
  .checkbox_signin {
    width: 1rem;
    height: auto;
  }
  .buttonSignin {
    width: 15rem;
    height: 2rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 15px;
  }
  .signup {
    margin-top: 1vw;
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .signup > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .signup > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}
