.SignUp_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5vw;
  padding-top: 5vw;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(85, 85, 85, 0.479); 
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-top: 5px solid white; /* White top border */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Rotating animation */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smallScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 5vw;
}

.card-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.welcome {
  width: 50%;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first_name_input,
.last_name_input {
  border: 1.2px solid black;
  width: 33%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 20px;
  background-color: var(--color-bg);
}

.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.textinputs {
  border: 1.2px solid black;
  width: 70%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 20px;
  background-color: var(--color-bg);
}

.textinputs::placeholder,
.last_name_input::placeholder,
.first_name_input::placeholder {
  font-size: 20px;
  color: var(--color-dark-blue);
}

.Box > h1 {
  margin-bottom: 1vw;
  font-size: 30px;
  font-family: var(--font-family);
  color: var(--color-text);
  text-align: center;
}

.flname {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 4%;
}

.firstname,
.lastname {
  width: 50%;
}

.checkboxContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkboxContainer > p {
  width: 100%;
  font-size: 15px;
  color: var(--color-text);
}

.checkbox {
  width: 1rem;
  height: auto;
  margin-bottom: 1rem;
}

.buttonCreateAccount {
  width: 70%;
  height: 4vw;
  background-color: var(--color-dark-blue);
  outline: none;
  border: none;
  font-family: var(--font-family);
  color: var(--color-bg);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.policyAgree {
  margin-top: 1vw;
  color: var(--color-text);
  text-align: center;
}

.policyAgree > a {
  text-decoration: underline;
  color: var(--color-dark-blue);
}

.login {
  margin-top: 1vw;
  width: 70%;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
}

.login > p {
  color: var(--color-text);
  font-size: 20px;
}
  
.textinputs::placeholder,
.last_name_input::placeholder,
.first_name_input::placeholder {
  font-size: 15px;
}

.login > p > a {
  text-decoration: underline;
  color: var(--color-dark-blue);
}

@media (max-width: 1000px) {
  .first_name_input,
  .last_name_input {
    width: 60%;
    height: 3rem;
  }

  .flname {
    flex-direction: column;
    gap: 20px;
  }

  .welcome {
    margin-bottom: 2vw;
  }

  .Box {
    width: 70%;
  }

  .textinputs {
    width: 60%;
    height: 3rem;
  }

  .Box > h1 {
    font-size: 30px;
  }

  .checkboxContainer {
    width: 60%;
  }

  .buttonCreateAccount {
    width: 60%;
    height: 3rem;
  }

  .login {
    width: 60%;
    height: 3rem;
  }
}

@media screen and (max-width: 920px) {
  .first_name_input,
  .last_name_input,
  .textinputs,
  .checkboxContainer,
  .buttonCreateAccount,
  .login {
    width: 26rem;
  }
  
.login > p {
  font-size: 15px;
}


}

@media screen and (max-width: 520px) {
  .first_name_input,
  .last_name_input,
  .textinputs,
  .checkboxContainer,
  .buttonCreateAccount,
  .login {
    width: 18rem;
    height: 2rem;
    font-size: 15px;
  }

  .buttonCreateAccount {
    font-size: 15px;
  }
}
