.SignUp_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5vw;
  padding-top: 5vw;
}/* Full-screen loading overlay */
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(85, 85, 85, 0.479); 
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3); /* Light gray border */
  border-top: 5px solid white; /* White top border */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Rotating animation */
}

/* Animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.smallScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3vw;
  padding-bottom: 5vw;
}
.card-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.welcome {
  width: 50%;
  margin-bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first_name_input,
.last_name_input {
  border: 1.2px solid black;
  width: 33%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 20px;
  background-color: var(--color-bg);
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.textinputs {
  border: 1.2px solid black;
  width: 70%;
  height: 3.5vw;
  border-radius: 4px;
  color: var(--color-text);
  padding-left: 1rem;
  font-size: 20px;
  background-color: var(--color-bg);
}

.textinputs::placeholder,
.last_name_input::placeholder,
.first_name_input::placeholder {
  font-size: 20px;
  color: var(--color-dark-blue);
}
.Box > h1 {
  margin-bottom: 1vw;
  font-size: 30px;
  font-family: var(--font-family);
  color: var(--color-text);
}
.flname {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 4%;
}
.firstname,
.lastname {
  width: 50%;
}

.checkboxContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.checkboxContainer > p {
  width: 100%;
  font-size: 15px;
  color: var(--color-text);
}

.checkbox {
  width: 1rem;
  height: auto;
  margin-bottom: 1rem;
}

.buttonCreateAccount {
  width: 70%;
  height: 4vw;
  background-color: var(--color-dark-blue);
  outline: none;
  border: none;
  font-family: var(--font-family);
  color: var(--color-bg);
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}
.policyAgree {
  margin-top: 1vw;
  color: var(--color-text);
}
.policyAgree > a {
  text-decoration: underline;
  color: var(--color-dark-blue);
}
.login {
  margin-top: 1vw;
  width: 70%;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbar-color);
}
.login > p {
  color: var(--color-text);
  font-size: 20px;
}
.login > p > a {
  text-decoration: underline;
  color: var(--color-dark-blue);
}
@media (max-width: 1000px) {
  .first_name_input,
  .last_name_input {
    border: 1.2px solid black;
    width: 60%;
    height: 3rem;
    border-radius: 4px;
    color: var(--color-text);
    padding-left: 1rem;
    font-size: 20px;
    background-color: var(--color-bg);
  }

  .textinputs::placeholder,
  .last_name_input::placeholder,
  .first_name_input::placeholder {
    font-size: 20px;
  }
  .flname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .textinputs::placeholder,
  .last_name_input::placeholder,
  .first_name_input::placeholder {
    font-size: 20px;
  }

  .welcome {
    margin-bottom: 2vw;
  }
  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
  }

  .textinputs {
    border: 1.2px solid black;
    width: 60%;
    height: 3rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 20px;
    background-color: var(--color-bg);
  }

  .textinputs::placeholder {
    font-size: 20px;
  }
  .Box > h1 {
    margin-bottom: 1vw;
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--color-text);
  }

  .checkboxContainer {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .checkboxContainer > p {
    width: 100%;
    font-size: 15px;
  }

  .checkbox {
    width: 2rem;
    height: auto;
  }

  .buttonCreateAccount {
    width: 60%;
    height: 3rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  .policyAgree {
    margin-top: 1vw;
    font-size: 15px;
  }
  .policyAgree > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
  .policyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .login {
    margin-top: 1vw;
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .login > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .login > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}

@media screen and (max-width: 768px) {
  .first_name_input,
  .last_name_input {
    border: 1.2px solid black;
    width: 26rem;
    height: 3rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 20px;
    background-color: var(--color-bg);
  }
  .flname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .welcome {
    margin-bottom: 2vw;
    width: 100%;
  }
  .card-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .textinputs {
    border: 1.2px solid black;
    width: 26rem;
    height: 3rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 20px;
    background-color: var(--color-bg);
  }

  .textinputs::placeholder,
  .last_name_input::placeholder,
  .first_name_input::placeholder {
    font-size: 20px;
  }
  .textinputs::placeholder {
    font-size: 20px;
  }

  .Box > h1 {
    margin-bottom: 0.5vw;
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--color-text);
  }

  .checkboxContainer {
    width: 26rem;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    gap: 1rem;
  }

  .checkboxContainer > p {
    width: 100%;
    font-size: 0.8rem;
  }

  .checkbox {
    width: 3vw;
    height: auto;
  }

  .buttonCreateAccount {
    width: 26rem;
    height: 3rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 3vw;
  }
  .policyAgree {
    margin-top: 1vw;
    font-size: 15px;
  }
  .policyAgree > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
  .policyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
  }
  .login {
    margin-top: 1vw;
    width: 26rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .login > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .login > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}
@media screen and (max-width: 520px) {
  .textinputs::placeholder,
  .last_name_input::placeholder,
  .first_name_input::placeholder {
    font-size: 15px;
  }
  .first_name_input,
  .last_name_input {
    border: 1.2px solid black;
    width: 18rem;
    height: 2rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }
  .flname {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .welcome {
    margin-bottom: 2vw;
    width: 100%;
  }
  .card-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }

  .textinputs {
    border: 1.2px solid black;
    width: 18rem;

    height: 2rem;
    border-radius: 4px;
    padding-left: 1rem;
    font-size: 15px;
    background-color: var(--color-bg);
  }

  .textinputs::placeholder {
    font-size: 15px;
  }
  .Box > h1 {
    margin-bottom: 0.5vw;
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--color-text);
  }

  .checkboxContainer {
    width: 18rem;
    display: flex;
    margin-top: 2vw;
    flex-direction: row;
    gap: 1rem;
  }

  .checkboxContainer > p {
    width: 100%;
    font-size: 15px;
  }

  .checkbox {
    width: 1rem;
    height: auto;
  }

  .buttonCreateAccount {
    width: 18rem;
    height: 2rem;
    background-color: var(--color-dark-blue);
    outline: none;
    border: none;
    font-family: var(--font-family);
    color: var(--color-bg);
    border-radius: 4px;
    font-size: 20px;
  }
  .policyAgree {
    margin-top: 1vw;
    font-size: 15px;
  }
  .policyAgree > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
  .policyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
  }
  .login {
    margin-top: 1vw;
    width: 18rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navbar-color);
  }
  .login > p {
    color: var(--color-text);
    font-size: 20px;
  }
  .login > p > a {
    text-decoration: underline;
    color: var(--color-dark-blue);
  }
}
